<header class="bg-info text-white text-center py-3">
    <div class="container-fluid">
      <div class="row">
        <!-- Logo a la izquierda con margen a la izquierda -->
        <div class="col-auto ms-0">
          <img src="assets/img/logo.png" alt="Logo" class="img-fluid" width="70px">
        </div>
        <!-- Texto centrado en el medio -->
        <div class="col-11 d-flex align-items-center justify-content-center">
          <h1 class="fw-bold">{{title}}</h1>
        </div>
      </div>
    </div>
  </header>